example.json
[{"id":"ae77fb8e38019f4c","type":"subflow","name":"SEMAFORO - Global","info":"# SEMAFORO Global Multi-Instance Backup\r\nNode that manages an object or lists of objects,\r\nwith values to be used and varied in a\r\ntransfers to the individual stream, \r\nall while maintaining a backup of values in case\r\nof blockage/recovery\r\n\r\n## General Properties\r\n -  **Stoplight**\r\n     Traffic Light Monitoring Status \r\n - **Road**\r\n    Reference Topic for the current instance\r\n - **TypeReq**\r\n     the type of request used\r\n - **PropsType**\r\n     Gesite Object Type, SingleValue(a Single Object), ListMultiObject(a multi Object with similar structure)\r\n - **NamePropsID** \r\n     name of the Property identifying the object/value to be updated\r\n - **NameAdditionaListProp** \r\n     Object with Additional Properties to Update\r\n - **BackupName** \r\n     Name Assigned to the backup instance\r\n - **Overwrite**\r\n     Overwriting of current values\r\n\r\n### Stoplight\r\n A property that defines whether the Traffic Light will monitor the status (Cycle Closed) or ignore it (Cycle Open and Infinite) \r\n\r\n### Road \r\n sting with which to identify the context to be used\r\n for the values, so that even more instances with different objects to be monitored can be maintained\r\n\r\n### TypeReq\r\n The Type of Request can have the following values::\r\n - **INIT** - Initiator, compulsory in the instance flow to enable proper functioning of the whole\r\n - **GET** - get of current values\r\n - **UPD** - Updating Data, passing the property with bulean value `msg.status` update the status\r\n - **RESET** - Elimination of the BK's Ongoing Status - recommended to be used only for cleaning error situations\r\n - **GET BACKUP** - Returns the contents of the BACKUP file \r\n\r\n### PropsType\r\n  the type of Object to be managed, may have the following values:\r\n - **SingleObject** - Single object with a single status to be monitored\r\n - **ListMultiObject** - list of multi-key objects with multiple staus to be monitored\r\n\r\n#### _Returned SingleObject Exsample_\r\n   `singleValue` : `{\"value\":{\"name\":\"Alfa\",\"time\":30, \"test\": true},\"status\":false}` \r\n\r\n#### _Returned ListMultiObject Exsample_\r\n   `tableList`: `[{\"name\":\"alfa\",\"time\":30,\"status\":true},{\"name\":\"beta\",\"time\":56,\"status\":false}]` \r\n\r\n### NamePropsID\r\n _(Required for ListMultiObject on UPD)_ name of key in `msg` which contains the value to identify in the object list the element to be updated\r\n\r\n### NameAdditionaListProp\r\n_(only usable in UPD)_ nname of key in `msg` which contains an object properties and values, other than the status to be updated in the monitored element\r\n\r\n### BackupName\r\n string to be used as the name of the current Road backup file\r\n\r\n### Overwrite \r\n _(only usable in INIT)_ property that allows in Initialisation to ignore the backup and currently monitored objects to create a clean initial situation\r\n\r\n---\r\n\r\n## Object Property\r\n - **`OnReq`** - Type: `Bool` - It indicates the fact that at least one of the values and with `status` false,\r\n - **`singleValue`** - Type: `Object` - contains within the key property `value` he value of the single object to be monitored passed in the initial or backup and a in the key `status` contains the state of the object that determines current `OnReq` ,\r\n - **`tableList`** - Type: `Array<Object>` - contains the list of objects passed in the initialisation with the addition in each object of the key `status` which contains the state of the object, the sum of the states of all objects determines current `OnReq`\r\n---\r\n\r\n# Flow instance \r\nthe application flow provides:\r\n 1. an **INIT** block to initialize values/retrieve the backup, lock the SEMAFO in `OnReq` state to `true` and initialise the status values of the monitored objects to `false\r\n 2. a **GET** block to get the current state data \r\n 3. a **UPD** block to update the state and/or property values of the items\r\n 4. if needed a **RESET** block to clean up the values\r\n\r\nthe stream is \"_Unlocked_\" (i.e. in `OnReq` to `false`) when the state of all its elements is `true`.\r\n\r\n---\r\n\r\n# _Returned Object Exsample_\r\n\r\n`msg.payload` : `{\"onReq\":true,\"singleValue\":{\"value\":{\"name\":\"Alfa\",\"time\":30, \"test\": true},\"status\":false},\"tableList\":[{\"name\":\"alfa\",\"time\":30,\"status\":true},{\"name\":\"beta\",\"time\":56,\"status\":false}]}`\r\n\r\n---\r\n# Backup Logic\r\nthe node generates for each **Road** a backUp file named as specified in `BackupName`,\r\nthis file contains the history of updates to the `singleValue` and `tableList` objects,\r\nall as long as the `OnReq` key remains in the `true` state, when it changes state the saved values will be cleared to allow a new cycle,\r\nthe file is used to retrieve the values and states of the monitored objects, so in case of a new start the values will not be overwritten (if the **Overwrite** property is not set) and in case the flow breaks down unexpectedly the values can be retrieved\r\n\r\n# Closed-Cycle Vision\r\nthe underlying logic of the node is to make the status recoverable even in the event of an engine crash, \r\nas a consequence, the change data of the monitored objects will be kept in the back-up file until the click is complete,\r\nin the event of a block at the new start, if the click had been completed, a new one will be injected, \r\nOtherwise, the node will ignore the passed values and retrieve the data from the back-up file.\r\n\r\n# Backup File\r\nthe contents of the backup file are as follows:\r\n - **`name`** - Type: `String` - Name of files,\r\n - **`stoplight`** - Type: `Bool` - Monitor Status Traffic light for instance under backup,\r\n - **`completed`** - Type: `Bool` - Indicates the status of the current cycle,\r\n - **`createdAt`** - Type: `DataTime` - file creation date,\r\n - **`road`** - Type: `String`- **Road** of affiliation,\r\n - **`history`** - Type: `Array<Object>` - contains the list of the various versions of the monitor objects, tracking the parameters passed and date of update\r\n\r\n# _Returned Object Exsample_\r\n\r\n`msg.payload`: `{\"name\":\"TestList\", \"stoplight\":true,\"completed\":false,\"createdAt\":\"2022-11-30T16:11:50.531Z\",\"road\":\"ALFA_ONE\",\"history\":[{\"onReq\":true,\"singleValue\":null,\"tableList\":[{\"name\":\"alfa\",\"time\":\"TR\",\"status\":false},{\"name\":\"beta\",\"time\":\"TH\",\"status\":false}],\"file\":\"BK_GBL_PROPS/ALFA_ONE_TestList.json\",\"version\":0,\"datetime\":\"2022-12-05T09:37:53.648Z\",\"propGetRif\":\"name\"},{\"onReq\":true,\"singleValue\":null,\"tableList\":[{\"name\":\"alfa\",\"time\":\"TR\",\"status\":false},{\"name\":\"beta\",\"time\":\"PROVE\",\"status\":true}],\"file\":\"BK_GBL_PROPS/ALFA_ONE_TestList.json\",\"version\":1,\"datetime\":\"2022-12-05T09:38:06.798Z\"}]}`\r\n","category":"toolkit","in":[{"x":40,"y":340,"wires":[{"id":"d645ca6e56e181ea"}]}],"out":[{"x":2880,"y":440,"wires":[{"id":"e6e34446b77fabbb","port":0},{"id":"5077514750133d3f","port":0},{"id":"93264d37541609c1","port":0}]}],"env":[{"name":"stoplight","type":"bool","value":"true","ui":{"icon":"font-awesome/fa-stop-circle-o","type":"input","opts":{"types":["bool"]}}},{"name":"Road","type":"str","value":"","ui":{"icon":"font-awesome/fa-barcode"}},{"name":"TypeReq","type":"str","value":"1","ui":{"icon":"font-awesome/fa-angle-double-right","type":"select","opts":{"opts":[{"l":{"en-US":"INIT"},"v":"0"},{"l":{"en-US":"GET"},"v":"1"},{"l":{"en-US":"UPD"},"v":"2"},{"l":{"en-US":"RESET"},"v":"3"},{"l":{"en-US":"GET BACKUP"},"v":"4"}]}}},{"name":"PropType","type":"str","value":"0","ui":{"icon":"font-awesome/fa-archive","type":"select","opts":{"opts":[{"l":{"en-US":"SingleObject"},"v":"0"},{"l":{"en-US":"ListMultiObject"},"v":"1"}]}}},{"name":"NamePropID","type":"str","value":"","ui":{"icon":"font-awesome/fa-at","label":{"en-US":"NamePropID"}}},{"name":"NameAdditionListPropUpd","type":"str","value":"","ui":{"icon":"font-awesome/fa-archive","label":{"en-US":"Additonal Props"}}},{"name":"BackupName","type":"str","value":"","ui":{"icon":"font-awesome/fa-clipboard"}},{"name":"overwrite","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-file-code-o"}}],"meta":{"module":"semaforo_global","version":"0.0.5","author":"Alessio Pellizzaro <alessio.pellizzaro@apserial.it>","keywords":"stoplight; semaforo; global; nodered;","license":"MPL-2.0"},"color":"#F3B567","icon":"node-red/db.svg"},{"id":"bf5ae76fa9460063","type":"function","z":"ae77fb8e38019f4c","name":"SetTable","func":"let tableList = msg.inPayload;\n\nlet stop = env.get('stoplight');\n\nif (stop) {\n    for (let el in tableList) {\n        tableList[el].status = false\n    }\n}\n\n\nglobal.set(`${env.get('Road')}_tableList`, tableList );\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":140,"wires":[["5fda8496cdf1e9a3"]]},{"id":"16a20e7f3158caf7","type":"function","z":"ae77fb8e38019f4c","name":"UpdStatusTable","func":"let list = global.get(`${env.get('Road')}_tableList`); \nlet propGetRif = env.get('NamePropID');\nlet idx = list.findIndex((el) => { return el[propGetRif] == msg[propGetRif] });\n\n\nif (msg.status) {\n    list[idx].status = msg.status\n}\nelse {\n    list[idx].status = true;\n}\n\n\nglobal.set(`${env.get('Road')}_tableList`, list);\n\nlet additionalUpd = env.get('NameAdditionListPropUpd');\n\nif(additionalUpd) {\n    let listKey = Object.keys(msg[additionalUpd]);\n    for (let el in listKey) {\n        list[idx][listKey[el]] = msg[additionalUpd][listKey[el]];\n    } \n}\n\nlet testRes = [];\nfor ( let el in list) {\n    testRes.push(list[el].status);\n}\nlet res = testRes.find((el) => el == false);\n\nif (res === false) {\n    global.set(`${env.get('Road')}_onReq`, true);\n}\nelse {\n    global.set(`${env.get('Road')}_onReq`, false);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":900,"wires":[["1aa7f1b5d7bffb99"]]},{"id":"c2872c96e8628b7d","type":"comment","z":"ae77fb8e38019f4c","name":"Init/Restore","info":"","x":970,"y":20,"wires":[]},{"id":"87dfa88a24e4caeb","type":"comment","z":"ae77fb8e38019f4c","name":"Upd","info":"","x":450,"y":700,"wires":[]},{"id":"e68b8e867c2024b2","type":"comment","z":"ae77fb8e38019f4c","name":"GET","info":"","x":650,"y":440,"wires":[]},{"id":"d645ca6e56e181ea","type":"switch","z":"ae77fb8e38019f4c","name":"","property":"TypeReq","propertyType":"env","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":270,"y":460,"wires":[["bc343a05d928e3e6"],["e6e34446b77fabbb"],["dc26e2bbfe0cddcf"],["5077514750133d3f"],["d2179a925795b032"]]},{"id":"2a0b5f49cc3c2920","type":"function","z":"ae77fb8e38019f4c","name":"InitVar","func":"if (global.get(`${env.get('Road')}_onReq`) == undefined) {\n    global.set(`${env.get('Road')}_onReq`, true);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":100,"wires":[["7c8799d7b46d119c"]]},{"id":"5fda8496cdf1e9a3","type":"function","z":"ae77fb8e38019f4c","name":"BkGlobalVal","func":"\n\nlet onReq = global.get(`${env.get('Road')}_onReq`);\nlet singleValue = global.get(`${env.get('Road')}_singleValue`);\nlet tableList = global.get(`${env.get('Road')}_tableList`);\nlet propGetRif = env.get('NamePropID');\n\nmsg.payload = {\n    name: env.get('BackupName'),\n    stoplight: env.get('stoplight'),\n    completed : false,\n    createdAt: new Date(),\n    road: env.get('Road'), \n    history: [\n        {\n            onReq,\n            singleValue,\n            tableList,\n            file: msg.filename,\n            version: 0,\n            datetime: new Date(),\n            propGetRif: propGetRif\n        }\n    ]\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":100,"wires":[["dab7439b1f4db9b9"]]},{"id":"dab7439b1f4db9b9","type":"file","z":"ae77fb8e38019f4c","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":2000,"y":120,"wires":[["e6e34446b77fabbb"]]},{"id":"a233be005f2ee82a","type":"file in","z":"ae77fb8e38019f4c","name":"","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1520,"y":840,"wires":[["e7922eea3a251719"]]},{"id":"1aa7f1b5d7bffb99","type":"function","z":"ae77fb8e38019f4c","name":"SetFilenameForGet","func":"msg.filename = `BK_GBL_PROPS/${env.get('Road')}_${env.get('BackupName')}.json`;\n\nif (!fs.existsSync(msg.filename)){\n    throw \"Error you not have init\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"}],"x":1250,"y":840,"wires":[["a233be005f2ee82a"]]},{"id":"e7922eea3a251719","type":"json","z":"ae77fb8e38019f4c","name":"","property":"payload","action":"","pretty":false,"x":1750,"y":840,"wires":[["10727fa1f8e4b6f5"]]},{"id":"10727fa1f8e4b6f5","type":"function","z":"ae77fb8e38019f4c","name":"AddBK","func":"let onReq = global.get(`${env.get('Road')}_onReq`);\nlet singleValue = global.get(`${env.get('Road')}_singleValue`);\nlet tableList = global.get(`${env.get('Road')}_tableList`);\n\nlet version = msg.payload.history[msg.payload.history.length-1].version+1;\n\nmsg.payload.completed = !onReq;\nmsg.payload.history.push({\n    onReq,\n    singleValue,\n    tableList,\n    file: msg.filename,\n    version: version,\n    datetime: new Date()\n});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":840,"wires":[["a0c7c19cbe4fd2d0"]]},{"id":"a0c7c19cbe4fd2d0","type":"file","z":"ae77fb8e38019f4c","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":2080,"y":840,"wires":[["e6e34446b77fabbb"]]},{"id":"7c8799d7b46d119c","type":"switch","z":"ae77fb8e38019f4c","name":"PropType","property":"PropType","propertyType":"env","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":100,"wires":[["62d66562083aaf35"],["bf5ae76fa9460063"]]},{"id":"62d66562083aaf35","type":"function","z":"ae77fb8e38019f4c","name":"SetSingleValue","func":"let singleValue = {\n    value: msg.inPayload,\n    status : false\n};\n\nlet stop = env.get('stoplight');\n\nif(!stop) {\n    delete singleValue.status;\n}\n\nglobal.set(`${env.get('Road')}_singleValue`, singleValue);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":60,"wires":[["5fda8496cdf1e9a3"]]},{"id":"dc26e2bbfe0cddcf","type":"switch","z":"ae77fb8e38019f4c","name":"PropType","property":"PropType","propertyType":"env","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":940,"wires":[["890326fa28a53922"],["6781f4f204d23458"]]},{"id":"e6e34446b77fabbb","type":"function","z":"ae77fb8e38019f4c","name":"GetStatus","func":"\nlet onReq = global.get(`${env.get('Road')}_onReq`);\nlet singleValue = global.get(`${env.get('Road')}_singleValue`);\nlet tableList = global.get(`${env.get('Road')}_tableList`);\n\nmsg.payload = {\n    onReq,\n    singleValue,\n    tableList\n};\n\n\nif (onReq == undefined) {\n    msg.payload.onReq = false\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2380,"y":420,"wires":[[]]},{"id":"0b808aa13f3f7302","type":"function","z":"ae77fb8e38019f4c","name":"UpdStatusSingle","func":"let propGetRif = env.get('NamePropID');\nlet sign = global.get(`${env.get('Road')}_singleValue`);\n\n\n\nif(msg.status) {\n    sign.status = msg.status;\n}\nelse {\n    sign.status = true;\n}\n\n\nlet additionalUpd = env.get('NameAdditionListPropUpd');\n\nif (additionalUpd) {\n    let listKey = Object.keys(msg[additionalUpd]);\n    for (let el in listKey) {\n        sign.value[listKey[el]] = msg[additionalUpd][listKey[el]];\n    }\n}\n\nglobal.set(`${env.get('Road')}_singleValue`, sign);\n\nif (sign.status === false) {\n    global.set(`${env.get('Road')}_onReq`, true);\n}\nelse {\n    global.set(`${env.get('Road')}_onReq`, false);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":660,"wires":[["1aa7f1b5d7bffb99"]]},{"id":"bc343a05d928e3e6","type":"function","z":"ae77fb8e38019f4c","name":"TestExist","func":"msg.filename = `BK_GBL_PROPS/${env.get('Road')}_${env.get('BackupName')}.json`;\nmsg.test = fs.existsSync(msg.filename);\nmsg.inPayload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"}],"x":200,"y":200,"wires":[["a8674269e2d540ae"]]},{"id":"a8674269e2d540ae","type":"switch","z":"ae77fb8e38019f4c","name":"ExistFile?","property":"test","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":180,"wires":[["2a0b5f49cc3c2920"],["9667cf1b03874b87"]]},{"id":"9667cf1b03874b87","type":"file in","z":"ae77fb8e38019f4c","name":"","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":320,"y":260,"wires":[["b8b9b5600dc68aa6"]]},{"id":"b8b9b5600dc68aa6","type":"json","z":"ae77fb8e38019f4c","name":"","property":"payload","action":"","pretty":false,"x":450,"y":260,"wires":[["ddd88745b196875b"]]},{"id":"3403fe1f78270af6","type":"switch","z":"ae77fb8e38019f4c","name":"completed?","property":"payload.completed","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":280,"wires":[["75164f1e97a30262"],["600ffcfed2d06c89"]]},{"id":"600ffcfed2d06c89","type":"function","z":"ae77fb8e38019f4c","name":"RestoreValue","func":"\nlet el = msg.payload.history.length-1;\nglobal.set(`${env.get('Road')}_singleValue`, msg.payload.history[el].singleValue);\nglobal.set(`${env.get('Road')}_tableList`, msg.payload.history[el].tableList);\nglobal.set(`${env.get('Road')}_onReq`, msg.payload.history[el].onReq);\n\nmsg.payload = \"Reload\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":360,"wires":[["e6e34446b77fabbb"]]},{"id":"ddd88745b196875b","type":"switch","z":"ae77fb8e38019f4c","name":"overwrite?","property":"overwrite","propertyType":"env","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":260,"wires":[["2a0b5f49cc3c2920"],["3403fe1f78270af6"]]},{"id":"75164f1e97a30262","type":"function","z":"ae77fb8e38019f4c","name":"RestoreValue","func":"\nlet el = msg.payload.history.length-1;\nlet sing = msg.payload.history[el].singleValue ? msg.payload.history[el].singleValue : null;\nlet table = msg.payload.history[el].tableList ? msg.payload.history[el].tableList : null;\n\n\n\nglobal.set(`${env.get('Road')}_singleValue`, sing);\nglobal.set(`${env.get('Road')}_tableList`, table);\nglobal.set(`${env.get('Road')}_onReq`, true);// msg.payload.history[el].onReq\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":220,"wires":[["b79cdecdba3b8543"]]},{"id":"b79cdecdba3b8543","type":"switch","z":"ae77fb8e38019f4c","name":"PropType","property":"PropType","propertyType":"env","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1220,"y":220,"wires":[["35f2550c1d606989"],["be98334a8e446657"]]},{"id":"35f2550c1d606989","type":"function","z":"ae77fb8e38019f4c","name":"SetSingleValue","func":"let singleValue = {\n    value: msg.inPayload,\n    status: false\n};\n\nglobal.set(`${env.get('Road')}_singleValue`, singleValue );\n//msg.payload = \"ok\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":180,"wires":[["f8f346b57f0338b8"]]},{"id":"be98334a8e446657","type":"function","z":"ae77fb8e38019f4c","name":"SetTable","func":"let tableList = msg.inPayload;\n\n\nfor (let el in tableList) {\n    tableList[el].status = false\n}\n\nglobal.set(`${ env.get('Road') }_tableList`, tableList );\n//msg.payload = \"ok\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":260,"wires":[["f8f346b57f0338b8"]]},{"id":"f8f346b57f0338b8","type":"function","z":"ae77fb8e38019f4c","name":"BkGlobalVal","func":"let onReq = global.get(`${env.get('Road')}_onReq`);\nlet singleValue = global.get(`${env.get('Road')}_singleValue`);\nlet tableList = global.get(`${env.get('Road')}_tableList`);\nlet propGetRif = env.get('NamePropID');\n\nmsg.payload.history = [\n    {\n        onReq,\n        singleValue,\n        tableList,\n        file: msg.filename,\n        version: 0,\n        datetime: new Date(),\n        propGetRif: propGetRif\n    }\n]\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1830,"y":220,"wires":[["0ed1fe770253adf7"]]},{"id":"0ed1fe770253adf7","type":"file","z":"ae77fb8e38019f4c","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":2040,"y":220,"wires":[["e6e34446b77fabbb"]]},{"id":"5077514750133d3f","type":"function","z":"ae77fb8e38019f4c","name":"Reset","func":"\ntry {\n    fs.rmSync(`BK_GBL_PROPS/${env.get('Road')}_${env.get('BackupName')}.json`);\n}\ncatch {\n    node.error('not exist file');\n}\nfinally {\n    global.set(`${env.get('Road')}_onReq`, undefined);\n    global.set(`${env.get('Road')}_singleValue`, undefined);\n    global.set(`${env.get('Road')}_tableList`, undefined);\n    msg.payload = `Reset to underfined Road ${env.get('Road')} - for continue reinit flow`;\n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"}],"x":2050,"y":600,"wires":[[]]},{"id":"99f862edd0d92d82","type":"comment","z":"ae77fb8e38019f4c","name":"RESET","info":"","x":710,"y":500,"wires":[]},{"id":"3e875c030af94d19","type":"comment","z":"ae77fb8e38019f4c","name":"INIT","info":"","x":270,"y":340,"wires":[]},{"id":"d2179a925795b032","type":"function","z":"ae77fb8e38019f4c","name":"TestExist","func":"msg.filename = `BK_GBL_PROPS/${env.get('Road')}_${env.get('BackupName')}.json`;\nmsg.test = fs.existsSync(msg.filename);\nmsg.inPayload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"}],"x":560,"y":1180,"wires":[["2e5ae26c703a7971"]]},{"id":"2e5ae26c703a7971","type":"switch","z":"ae77fb8e38019f4c","name":"ExistFile?","property":"test","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":1180,"wires":[["a0010d8cb6e4d899"],["b30b73cf455b193e"]]},{"id":"b30b73cf455b193e","type":"file in","z":"ae77fb8e38019f4c","name":"","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1760,"y":1220,"wires":[["93264d37541609c1"]]},{"id":"93264d37541609c1","type":"json","z":"ae77fb8e38019f4c","name":"","property":"payload","action":"","pretty":false,"x":2190,"y":1240,"wires":[[]]},{"id":"a0010d8cb6e4d899","type":"function","z":"ae77fb8e38019f4c","name":"Error","func":"throw \"Not Exist Backup for this Road\"\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"}],"x":1090,"y":1120,"wires":[[]]},{"id":"c361d716ee53d722","type":"comment","z":"ae77fb8e38019f4c","name":"GET BACKUP","info":"","x":410,"y":820,"wires":[]},{"id":"890326fa28a53922","type":"switch","z":"ae77fb8e38019f4c","name":"stoplight?","property":"stoplight","propertyType":"env","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":780,"wires":[["0b808aa13f3f7302"],["564b97bb77e0a87d"]]},{"id":"6781f4f204d23458","type":"switch","z":"ae77fb8e38019f4c","name":"stoplight?","property":"stoplight","propertyType":"env","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":1000,"wires":[["16a20e7f3158caf7"],["e0c33c77bce14f66"]]},{"id":"564b97bb77e0a87d","type":"function","z":"ae77fb8e38019f4c","name":"UpdSingle","func":"let propGetRif = env.get('NamePropID');\nlet sign = global.get(`${env.get('Road')}_singleValue`);\n\n\n\n// if(msg.status) {\n//     sign.status = msg.status;\n// }\n// else {\n//     sign.status = true;\n// }\n\n\nlet additionalUpd = env.get('NameAdditionListPropUpd');\n\nif (additionalUpd) {\n    let listKey = Object.keys(msg[additionalUpd]);\n    for (let el in listKey) {\n        sign.value[listKey[el]] = msg[additionalUpd][listKey[el]];\n    }\n}\n\nglobal.set(`${env.get('Road')}_singleValue`, sign);\n\n// if (sign.status === false) {\n//     global.set(`${env.get('Road')}_onReq`, true);\n// }\n// else {\n//     global.set(`${env.get('Road')}_onReq`, false);\n// }\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":840,"wires":[["1aa7f1b5d7bffb99"]]},{"id":"e0c33c77bce14f66","type":"function","z":"ae77fb8e38019f4c","name":"UpdTable","func":"let list = global.get(`${env.get('Road')}_tableList`); \nlet propGetRif = env.get('NamePropID');\nlet idx = list.findIndex((el) => { return el[propGetRif] == msg[propGetRif] });\n\n\n// if (msg.status) {\n//     list[idx].status = msg.status\n// }\n// else {\n//     list[idx].status = true;\n// }\n\n\nglobal.set(`${env.get('Road')}_tableList`, list);\n\nlet additionalUpd = env.get('NameAdditionListPropUpd');\n\nif(additionalUpd) {\n    let listKey = Object.keys(msg[additionalUpd]);\n    for (let el in listKey) {\n        list[idx][listKey[el]] = msg[additionalUpd][listKey[el]];\n    } \n}\n\n// let testRes = [];\n// for ( let el in list) {\n//     testRes.push(list[el].status);\n// }\n// let res = testRes.find((el) => el == false);\n\n// if (res === false) {\n//     global.set(`${env.get('Road')}_onReq`, true);\n// }\n// else {\n//     global.set(`${env.get('Road')}_onReq`, false);\n// }\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":1040,"wires":[["1aa7f1b5d7bffb99"]]},{"id":"0ffe05f2ddf7fcbe","type":"tab","label":"SEMAFORO","disabled":false,"info":"","env":[]},{"id":"176fa4321513eb2f","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_ONE","type":"str"},{"name":"TypeReq","value":"0","type":"str"},{"name":"PropType","value":"1","type":"str"},{"name":"NamePropID","value":"name","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":520,"y":140,"wires":[["d3fe1d74536e4795"]]},{"id":"c182b6239b45e2a2","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":140,"wires":[["f35940a6e2cf7a1e"]]},{"id":"f35940a6e2cf7a1e","type":"function","z":"0ffe05f2ddf7fcbe","name":"TestList","func":"//inital Object List\nmsg.payload = [\n    {\n        name : 'alfa',\n        time : 'TR'\n    },\n    {\n        name : 'beta',\n        time : 'TH'\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":140,"wires":[["176fa4321513eb2f"]]},{"id":"d3fe1d74536e4795","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Init","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":140,"wires":[]},{"id":"767d3bd1ebe4f0bf","type":"function","z":"0ffe05f2ddf7fcbe","name":"TestListUPD","func":"\n// variable for get Object on list\nmsg.name = 'beta';\n//new stauts\nmsg.status = true;\n\n//aditional update props \nmsg.leter = {\n    time : 'PROVE'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":220,"wires":[["a3b9a38e2a3daacc"]]},{"id":"892047004f1734c3","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":220,"wires":[["767d3bd1ebe4f0bf"]]},{"id":"97982524c7bf86a1","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":220,"wires":[]},{"id":"a3b9a38e2a3daacc","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"stoplight","value":"false","type":"bool"},{"name":"Road","value":"ALFA_ONE","type":"str"},{"name":"TypeReq","value":"2","type":"str"},{"name":"PropType","value":"1","type":"str"},{"name":"NamePropID","value":"name","type":"str"},{"name":"NameAdditionListPropUpd","value":"leter","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":570,"y":220,"wires":[["97982524c7bf86a1"]]},{"id":"1fceaffd5b528901","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_ONE","type":"str"},{"name":"PropType","value":"1","type":"str"},{"name":"NamePropID","value":"name","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":400,"y":300,"wires":[["1459344867ef8e0c"]]},{"id":"abaaea6137f43cfa","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":300,"wires":[["1fceaffd5b528901"]]},{"id":"1459344867ef8e0c","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Get","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"3ea101dd459913bf","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_TWO","type":"str"},{"name":"TypeReq","value":"0","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":620,"y":520,"wires":[["8f41dd46a8fb8bfa"]]},{"id":"22bedf9b86026bd5","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":520,"wires":[["28d0955da520e89e"]]},{"id":"28d0955da520e89e","type":"function","z":"0ffe05f2ddf7fcbe","name":"Element Single","func":"//inital Object \nmsg.payload = {\n    name : \"Alfa\",\n    time : 30,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":520,"wires":[["3ea101dd459913bf"]]},{"id":"8f41dd46a8fb8bfa","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Init","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":520,"wires":[]},{"id":"edfd515e101af3d6","type":"function","z":"0ffe05f2ddf7fcbe","name":"Element UPD","func":"// new status\nmsg.status = true;\n\n//additonal props on update\nmsg.leter = {\n    time : 26\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":600,"wires":[["11877b82c7fb6bb5"]]},{"id":"e9574db895312bf5","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["edfd515e101af3d6"]]},{"id":"ee402dabcb288148","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":600,"wires":[]},{"id":"11877b82c7fb6bb5","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_TWO","type":"str"},{"name":"TypeReq","value":"2","type":"str"},{"name":"NameAdditionListPropUpd","value":"leter","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":590,"y":600,"wires":[["ee402dabcb288148"]]},{"id":"76a712dcbf283df9","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_TWO","type":"str"},{"name":"NamePropID","value":"name","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":420,"y":680,"wires":[["3cbc404c4541fac3"]]},{"id":"dec5b006753887f7","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":680,"wires":[["76a712dcbf283df9"]]},{"id":"3cbc404c4541fac3","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Get","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":629,"y":677,"wires":[]},{"id":"834aba248b31fc26","type":"comment","z":"0ffe05f2ddf7fcbe","name":"FLOW 1 ","info":"","x":260,"y":40,"wires":[]},{"id":"75bac55f71648990","type":"comment","z":"0ffe05f2ddf7fcbe","name":"Init - Set List","info":"","x":250,"y":100,"wires":[]},{"id":"4e4a185fb2260dca","type":"comment","z":"0ffe05f2ddf7fcbe","name":"UPD Elemente and Props","info":"","x":270,"y":180,"wires":[]},{"id":"191879bd2fe77030","type":"comment","z":"0ffe05f2ddf7fcbe","name":"Get Status","info":"","x":230,"y":260,"wires":[]},{"id":"c7c887e6b5057c21","type":"comment","z":"0ffe05f2ddf7fcbe","name":"Init - Set El","info":"","x":200,"y":480,"wires":[]},{"id":"7d7aa85312b76ea3","type":"comment","z":"0ffe05f2ddf7fcbe","name":"UPD Elemente and Props","info":"","x":250,"y":560,"wires":[]},{"id":"ad8b8174903f2951","type":"comment","z":"0ffe05f2ddf7fcbe","name":"Get Status","info":"","x":200,"y":640,"wires":[]},{"id":"8ad00be11b91c212","type":"comment","z":"0ffe05f2ddf7fcbe","name":"FLOW 2","info":"","x":200,"y":420,"wires":[]},{"id":"9fa6b779cd928804","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_TH","type":"str"},{"name":"TypeReq","value":"0","type":"str"},{"name":"PropType","value":"1","type":"str"},{"name":"NamePropID","value":"name","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":580,"y":860,"wires":[["a6e77d5333855f85"]]},{"id":"8883eea7219d4128","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":860,"wires":[["32b9628ce58c432c"]]},{"id":"32b9628ce58c432c","type":"function","z":"0ffe05f2ddf7fcbe","name":"TestList","func":"msg.payload = [\n    {\n        name : 'alfa',\n        time : 'TR'\n    },\n    {\n        name : 'beta',\n        time : 'TH'\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":860,"wires":[["9fa6b779cd928804"]]},{"id":"a6e77d5333855f85","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Init","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":860,"wires":[]},{"id":"7599e980350b5280","type":"function","z":"0ffe05f2ddf7fcbe","name":"TestListUPD","func":"msg.name = 'alfa';\nmsg.status = true;\nmsg.leter = {\n    time : 'PROVE'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1060,"wires":[["1bc52dd58c4cb68d"]]},{"id":"f948f92c8ead2314","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1060,"wires":[["7599e980350b5280"]]},{"id":"95343162353e19f8","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":1060,"wires":[]},{"id":"1bc52dd58c4cb68d","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_TH","type":"str"},{"name":"TypeReq","value":"2","type":"str"},{"name":"PropType","value":"1","type":"str"},{"name":"NamePropID","value":"name","type":"str"},{"name":"NameAdditionListPropUpd","value":"leter","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":590,"y":1060,"wires":[["95343162353e19f8"]]},{"id":"920c97b96e9acb24","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_TH","type":"str"},{"name":"PropType","value":"1","type":"str"},{"name":"NamePropID","value":"name","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":400,"y":1160,"wires":[["51cf65bda779d9f0"]]},{"id":"db59d92e90b25f48","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":1160,"wires":[["920c97b96e9acb24"]]},{"id":"51cf65bda779d9f0","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Get","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":1160,"wires":[]},{"id":"ade2127734518cff","type":"comment","z":"0ffe05f2ddf7fcbe","name":"Get Status","info":"","x":150,"y":1120,"wires":[]},{"id":"62f3fafe22f6324c","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_TH","type":"str"},{"name":"TypeReq","value":"0","type":"str"},{"name":"BackupName","value":"TestList","type":"str"},{"name":"overwrite","value":"true","type":"bool"}],"x":600,"y":900,"wires":[["b8f94192e21ef31b"]]},{"id":"cd3c029009b5ad28","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":900,"wires":[["cd515a5c54a881fa"]]},{"id":"cd515a5c54a881fa","type":"function","z":"0ffe05f2ddf7fcbe","name":"Element Single","func":"msg.payload = {\n    name : \"Alfa\",\n    time : 30,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":900,"wires":[["62f3fafe22f6324c"]]},{"id":"b8f94192e21ef31b","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Init","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":900,"wires":[]},{"id":"78ef6fd8b6dd7a53","type":"function","z":"0ffe05f2ddf7fcbe","name":"Element UPD","func":"msg.name = 'alfa';\nmsg.status = true;\nmsg.leter = {\n    time : 26\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1020,"wires":[["2812eebefc75e192"]]},{"id":"acdc0bf7219a0822","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1020,"wires":[["78ef6fd8b6dd7a53"]]},{"id":"df0e9aea603e449d","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":1020,"wires":[]},{"id":"2812eebefc75e192","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_TH","type":"str"},{"name":"TypeReq","value":"2","type":"str"},{"name":"NameAdditionListPropUpd","value":"leter","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":590,"y":1020,"wires":[["df0e9aea603e449d"]]},{"id":"9546c42e3729f887","type":"comment","z":"0ffe05f2ddf7fcbe","name":"UPD Elemente and Props","info":"","x":190,"y":980,"wires":[]},{"id":"b29274f34c351862","type":"comment","z":"0ffe05f2ddf7fcbe","name":"FLOW 3","info":"","x":140,"y":780,"wires":[]},{"id":"b416d82ad3a7603a","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_ONE","type":"str"},{"name":"TypeReq","value":"4","type":"str"},{"name":"PropType","value":"1","type":"str"},{"name":"NamePropID","value":"name","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":400,"y":380,"wires":[["d1ec76706b252bf2"]]},{"id":"24deb4e51d234b24","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":380,"wires":[["b416d82ad3a7603a"]]},{"id":"d1ec76706b252bf2","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Get","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":380,"wires":[]},{"id":"4d2b0665196ff0fd","type":"comment","z":"0ffe05f2ddf7fcbe","name":"Get BackUP","info":"","x":240,"y":340,"wires":[]},{"id":"aa77c22d16cf77ad","type":"subflow:ae77fb8e38019f4c","z":"0ffe05f2ddf7fcbe","name":"","env":[{"name":"Road","value":"ALFA_TWO","type":"str"},{"name":"TypeReq","value":"4","type":"str"},{"name":"NamePropID","value":"name","type":"str"},{"name":"BackupName","value":"TestList","type":"str"}],"x":420,"y":740,"wires":[["ef6b32feed84e9ac"]]},{"id":"d127fa81e7d06cfd","type":"inject","z":"0ffe05f2ddf7fcbe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":740,"wires":[["aa77c22d16cf77ad"]]},{"id":"ef6b32feed84e9ac","type":"debug","z":"0ffe05f2ddf7fcbe","name":"Get","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":629,"y":737,"wires":[]},{"id":"eea3e7240bf0d4c2","type":"comment","z":"0ffe05f2ddf7fcbe","name":"Get Status","info":"","x":200,"y":700,"wires":[]}]